.timeline {
  width: 95%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  bottom: 10%;
}
.md-36 {
  font-size: 36px;
  color: #3f51b5;
}
.md-36:hover {
  background-color: rgba(150, 150, 150, 0.18);
  border-radius: 25px;
}
.my-auto {
  margin-top: 1em !important;
}

.noti-bar {
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
}
.salmon {
  padding-right: 0.5em;
}

.custom-dialog {
  width: 90vw;
  max-width: 90vw;
}

.plots {
  width: 100%;
}

.notis {
  margin-top: 10px;
}

.col-8 {
  margin-top: 10px;
}
